*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
.vs/
[Rr]elease*/
_ReSharper*/
*.dll
*.exe
*.msi
*.isl
*.ide
_sgbak/
*.csv
*.zip
/Data/
/IDF/
*DVD-5*
*ISLE*
*.ini
*.vdproj
[Pp]ublish
test
