<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PopupEnhancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OutlookReminder.Properties.Settings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutlookPollingProcessInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartAtLogon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Blackout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartOutlook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutlookPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupDelaySec" serializeAs="String">
                <value>0</value>
            </setting>
        </OutlookReminder.Properties.Settings>
        <PopupEnhancer.Properties.Settings>
            <setting name="ProgramCheckIntervalMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </PopupEnhancer.Properties.Settings>
    </userSettings>
</configuration>